<div class="grid-container">
  <app-time></app-time>
  <form class="search-form">
    <mat-form-field class="search-full-width">
      <textarea
        name="note"
        id="note"
        cols="30"
        rows="10"
        matInput
        value="{{ (note$ | async)?.title + (note$ | async).description }}"
        (keyup)="typeNote($event)"
      ></textarea>
    </mat-form-field>
  </form>
  <p><strong>Note 1:</strong> For adding new note just type and click save.</p>
  <p>
    <strong>Note 2:</strong> For any operation like Update and Remove first
    select note from sidebar by clicking it
  </p>
</div>
